$color-fondo-header: #E0CCBE;

header{
    background-color: $color-fondo-header;
    }
    nav{
        div{
            div{
                div{
                    button{
                        align-items: center;
                    }
                }
            }
        }
    }